* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-family: 'Quicksand', sans-serif;
}


body,
html {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 20pt;
}

.label{
  font-size: 10pt;
  width: 100%;
  text-align: center;
}

.containerExato{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.modal {
  display: none;
  position: absolute;
  width: 100%;
  height: calc(130% + 81px);
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.507);
}

.modal .content {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  width: 300px;
  height: auto;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}


.modal .content input {
  width: 100%;
}

.modal .content * {
  height: 100%;
}

.modal .content .btns {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;

}

.modal .content .btns .btnOk {
  background-color: #0288D1;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  padding: 7px;

}

.modal .content .btns .btnCancelar {
  border: 1px solid #0288D1;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  padding: 6px;
}

#header {
  cursor: pointer;
  width: 100%;
  background: royalblue;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

#header .titulo {
  height: auto;
  border: 1px solid rgb(46, 59, 59);
  border-radius: 20px;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

#header .titulo h1 {
  color: white;
}

/* FIM HEADER*/


/*SECTION*/

#section {
  width: 100%;
  min-height: 120%;
  position: relative;
}



#section #detalhes img {
  width: 30px;
}


#section header {
  padding: 5px;
  gap: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#section header>* {
  display: flex;
  justify-self: center;
}


#section header .problema {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
  display: flex;
  align-items: center;
}

#section header .problema select {
  padding: 6px;
  border-radius: 5px;
}


#section header .ajuste {
  grid-column-start: 5;
  grid-row-start: 2;
  grid-column-end: 6;
  grid-row-end: 3;
  width: 100%;
  cursor: pointer;
  justify-content: flex-end;
  cursor: pointer;
}

#section header .ajuste img {
  width: 30px;
  height: 30px;
}




#section header .solucao {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
  display: flex;
  align-items: center;
}

#section header .solucao select {
  padding: 6px;
  border-radius: 5px;
}


#section header .titulo {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 6;
  text-align: center;
}


#section header .quantidadeFilosofo {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 4;
  text-align: center;
  display: flex;
  align-items: center;
}


#section header .quantidadeFilosofo button {
  padding: 7px;
  border-radius: 5px;
}

#section header .operacoes {
  grid-row-start: 2;
  grid-column-start: 4;
  grid-row-end: 2;
  grid-column-end: 5;
  text-align: center;
  display: flex;
  gap: 5px;

}

#section header .operacoes button {
  width: 50px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

#section header .operacoes button:nth-child(1) {
  background-color: #0288D1;
  color: white;
}

#section header .operacoes button:nth-child(2) {
  border: 1px solid #0288D1;
}





#section #mainContent {
  position: relative;
  height:650px;
}

#section #mainContent .containerMesa {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



#section #mainContent .mesa .prato {
  width: 35px;
  height: 35px !important;
  position: absolute;
  transform: translate(-50%, -50%);
}


#section #mainContent .mesa .hashi1 {
  width: 50px;
  height: 80px;
  position: absolute;
  /*transform: translate(-50%, -50%);*/
}

#section #mainContent .mesa .hashiAux1 {
  display: none;
  width: 50px;
  height: 80px;
  position: absolute;
  /*transform: translate(-50%, -50%);*/
}

#section #mainContent .mesa .hashiAux2 {
  display: none;
  width: 50px;
  height: 80px;
  position: absolute;
  /*transform: translate(-50%, -50%);*/
}


#section #mainContent .filosofos {
  position: absolute;
  width: 400px;
  height: 400px;
}

#section #mainContent .filosofos::after {
  content: ''; 
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 20px; 
  height: 2px; 
  background-color: #000; 
 
}




#section header .quantidadeFilosofo button {
  background-color: cornflowerblue;
  cursor: pointer;
}

#section #mainContent .containerMesa .mesa .filosofo {
  width: 35px;
  height: 35px;
  background-color: #F7CB3F;
  border-radius: 100%;
  border: 3px solid black;
  position: absolute;
  transform: translate(-50%, -50%);
}

#section #mainContent .containerMesa .mesa .filosofo::after {
  content: '';
  top: 0;
  left: 0;
  width: 50px;
  height: 80px;
  position: absolute;
}


#section #mainContent .containerMesa .olho1 {
  width: 5px;
  height: 5px;
  border: 1px solid black;
  border-radius: 100%;
  position: absolute;
  top: 20%;
  left: 20%;
}

#section #mainContent .containerMesa .olho2 {
  width: 5px;
  height: 5px;
  border: 1px solid black;
  border-radius: 100%;
  position: absolute;
  top: 20%;
  right: 20%;

}

#section #mainContent .containerMesa .boca {
  width: 9px;
  height: 2px;
  border: 1px solid black;
  position: absolute;
  bottom: 20%;
  right: 35%;

}

#section #mainContent .containerMesa .bola1 {
  position: absolute;
  top: -9px;
  left: -5px;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  border: 1px solid black;
  display: none;
}

#section #mainContent .containerMesa .bola2 {
  position: absolute;
  top: -4px;
  left: -2px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  border: 1px solid black;
  display: none;
}

#section #mainContent .containerMesa .bola3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  border: 1px solid black;
  display: none;
}

#section #mainContent .containerMesa .icon {
  position: absolute;
  top: -20px;
  left: -10px;
  width: 17px;
  display: none;
}



#section #mainContent .containerMesa .mesa {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  border: 4px solid #967A44;
  background-color: #F5CE85;

}


/*FIM SECTION*/


footer {
  padding: 40px;
  border-top: 1px solid black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3rem;
  gap: 5px;
  flex-direction: column;
  height: 50px;
}

footer .systems {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}



footer .systems .linux {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

footer .systems .linux img {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 26px;
  height: 26px;
}


footer .systems .windows {
  display: flex;
  flex-direction: row;
  gap: 1px;
}

footer .systems .windows .fr1,
.fr2 {
  flex-direction: column;
  display: flex;
  gap: 1px;
}

footer .systems .windows .fr1 .frame:nth-child(1) {
  border: 2px solid #757575;
  width: 12.5px;
  height: 12.5px;
}

footer .systems .windows .fr1 .frame:nth-child(2) {
  border: 2px solid #757575;
  width: 12.5px;
  height: 12.5px;
}

footer .systems .windows .fr2 .frame:nth-child(1) {
  border: 2px solid #757575;
  width: 12.5px;
  height: 12.5px;
}

footer .systems .windows .fr2 .frame:nth-child(2) {
  border: 2px solid #757575;
  width: 12.5px;
  height: 12.5px;

}

footer .systems .apple {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .systems .apple img {
  width: 38px;
  height: 38px;
}